@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #132029;
}

.timer-div {
  text-align: center;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background-color: #34424A;
  padding: 20px;
}

.timer-digits {
  font-size: 30px;
  color: #F1FFFA;
  margin: 10px;
}

.btns-gen {
  color: #F1FFFA;
  background-color: #6dd6d3;
  border: none;
  margin: 10px;
  transition: 0.15s;
}

.btns-gen:hover {
  color: #F1FFFA;
  background-color: #6dd6d3;
  border: 3px solid #f1fffa;
  margin: 10px;
  text-shadow: 0px 0px 10px #6dd6d3;
  box-shadow: 0 0 28px #6dd6d3;
  font-weight: 600;
}

.dlt-btn {
  color: #F1FFFA;
  background-color: #ff7783;
  border: none;
  margin: 10px;
  transition: 0.15s;
}

.dlt-btn:hover {
  color: #f1fffa;
  background-color: #ff7783;
  border: 3px solid #f1fffa;
  margin: 10px;
  text-shadow: 0px 0px 10px #feb1b8;
  box-shadow: 0 0 28px #feb1b8;
  font-weight: 600;
}

.card {
  width: 25rem;
  margin: 10px;
  background-color: #34424A;
  border-radius: 10px;
}

.add-btn {
  color: #96A6A0;
  margin: 8px;
  background-color: #34424A;
  border: solid #96A6A0;
  transition: 0.5s;
}

.add-btn:hover {
  color: #fff79b;
  box-shadow: 0 0 28px #fffabe;
  margin: 8px;
  background-color: #34424A;
  border: solid #fff79b;
  text-shadow: 0px 0px 10px #fffabe;
}

.form {
  width: 500px;
  background-color: #34424A;
  border: 9px solid #34424A;
  border-radius: 10px;
  padding: 20px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin: 30px;
}

.nav-bar {
  color: #CFE4DC;
  font-size: 50px;
  letter-spacing: 9px;
  font-weight: 600;
  padding: 10px;
  padding-right: 400px;
  transition: 0.5s;
}

.space {
  justify-content: space-between;
}

.note-item {
  color: #96A6A0;
  background-color: #34424A;
  position: relative;
}

.toggle-btns {
  color: #F1FFFA;
  margin: 8px;
  background-color: #6dd6d3;
  border: none;
}

.toggle-btns:hover {
  color: #F1FFFA;
  margin: 8px;
  background-color: #6dd6d3;
  border: none;
  text-shadow: 0px 0px 10px #96A6A0;
  box-shadow: 0 0 28px #6dd6d3;
}

.item {
  color:#96A6A0
}

.item:hover {
  color: #fff79b;
  text-shadow: 0px 0px 10px #fffabe;
}

.main-container {
  display: flex;
  flex-grow: 2;
}

.side-panel {
  flex-grow: 1;
}

.content-container {
  flex-grow: 3;
}

.attentiond {
  color: #F1FFFA;
}

.efficient {
  color: #6dd6d3;
}

.nav-bar:hover {
  color: #F1FFFA;
  font-size: 50px;
  letter-spacing: 15px;
  font-weight: 600;
  padding: 10px;
  padding-right: 400px;
  text-shadow: 0px 0px 15px #6dd6d3;
}

.done {
  color: #F1FFFA;
  margin: 8px;
  background-color: #6dd6d3;
  border: none;
  transition: all 0.2s ease;
}

.done:active {
  transform: scale(0.96);
}

.done:before,
.done:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.done:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #fffabe 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #0059b8 20%, transparent 30%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #0059b8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #fffabe 15%, transparent 20%),
    radial-gradient(circle, #fffabe 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #6dd6d3 20%, transparent 20%),
    radial-gradient(circle, #fffabe 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.done:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #0059b8 20%, transparent 20%),
    radial-gradient(circle, #0059b8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #fffabe 15%, transparent 20%),
    radial-gradient(circle, #fffabe 20%, transparent 20%),
    radial-gradient(circle, #6dd6d3 20%, transparent 20%),
    radial-gradient(circle, #6dd6d3 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}