@import 'bootstrap/dist/css/bootstrap.css';
@import "./variables";
@import './buttons';
@import './components';
@import './view';
@import "./items";

// @import './navbar';

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $darkest;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}