@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #132029;
}

.timer-div {
  text-align: center;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background-color: #34424A;
  padding: 20px;
}

.timer-digits {
  font-size: 30px;
  color: #F1FFFA;
  margin: 10px;
}

.btns-gen {
  color: #F1FFFA;
  border: none;
  margin: 10px;
  transition: 0.5s;
}

.btns-gen:hover {
  color: #F1FFFA;
  border: none;
  margin: 10px;
  text-shadow: 0px 0px 10px #F1FFFA;
  box-shadow: 0 0 28px #CFE4DC;
}

.card {
  width: 25rem;
  margin: 10px;
  background-color: #34424A;
  border-radius: 10px;
}

.add-btn {
  color: #96A6A0;
  margin: 8px;
  background-color: #34424A;
  border: solid;
  border-color: #96A6A0;
  transition: 0.5s;
}

.add-btn:hover {
  color: #F1FFFA;
  box-shadow: 0 0 28px #CFE4DC;
  margin: 8px;
  background-color: #34424A;
  border: solid;
  border-color: #F1FFFA;
  text-shadow: 0px 0px 10px #96A6A0;
}

.form {
  background-color: #34424A;
  border: solid;
  border-color: #34424A;
  border-radius: 10px;
  border-width: 9px;
  padding: 20px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin: 30px;
}

.nav-bar {
  color: #CFE4DC;
  font-size: 50px;
  letter-spacing: 9px;
  font-weight: 600;
  padding: 10px;
  padding-right: 400px;
  transition: 0.5s;
  /* text-shadow: 0px 0px 10px #96A6A0; */
}

.nav-bar:hover {
  color: #F1FFFA;
  font-size: 50px;
  letter-spacing: 15px;
  font-weight: 600;
  padding: 10px;
  padding-right: 400px;
  text-shadow: 0px 0px 15px #F1FFFA;
}

.space {
  justify-content: space-between;
}

.note-item {
  color: #96A6A0;
  background-color: #34424A;
  position: relative;
}

.toggle-btn {
  color: #F1FFFA;
  margin: 8px;
  background-color: #6dd6d3;
  border: none;
}

.toggle-btn:hover {
  color: #F1FFFA;
  margin: 8px;
  background-color: #6dd6d3;
  border: none;
  text-shadow: 0px 0px 10px #96A6A0;
  box-shadow: 0 0 28px #6dd6d3;
}

.item:hover {
  color: #F1FFFA;
  text-shadow: 0px 0px 10px #96A6A0;
}

.main-container {
  display: flex;
  flex-grow: 2;
}

.side-panel {
  flex-grow: 1;
}

.content-container {
  flex-grow: 3;
}

.attentiond {
  color: #F1FFFA;
}

.efficient {
  color: #6dd6d3;
}
